DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
VERIFIED_ROLE_ID=
HACKER_ROLE_ID=
VOLUNTEER_ROLE_ID=
SPONSOR_ROLE_ID=
VERIFICATION_LOG_CHANNEL_ID=

TITO_API_TOKEN=
TITO_ACCOUNT_SLUG=hacksocnottingham
TITO_EVENT_SLUG=
TITO_QUESTION_SLUG=what-is-your-discord-username
